################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NashSoft/BehaviourRecorder/packages
/NashSoft/BehaviourRecorder/.vs
/NashSoft/BehaviourRecorder/Binaries/NashSoft.BehaviourRecorder.PostSharp.NUnit.dll
/NashSoft/BehaviourRecorder/BehaviourRecorder.PostSharp.NUnit/obj/Debug
/NashSoft/BehaviourRecorder/BehaviourRecorder.PostSharp.NUnit/bin/Debug
/NashSoft/BehaviourRecorder/BehaviourRecorder.PostSharp/bin/Debug
/NashSoft/BehaviourRecorder/BehaviourRecorder.PostSharp/obj/Debug
/NashSoft/BehaviourRecorder/BehaviourRecorder.NUnit/obj/Debug
/NashSoft/BehaviourRecorder/BehaviourRecorder.NUnit/bin/Debug
/NashSoft/BehaviourRecorder/BehaviourRecorder/obj/Debug
/NashSoft/BehaviourRecorder/BehaviourRecorder/bin/Debug
/NashSoft/BehaviourRecorder/BehaviourRecorder.PostSharp.NUnit/obj/Release
/NashSoft/BehaviourRecorder/BehaviourRecorder.PostSharp.NUnit/bin/Release
/NashSoft/BehaviourRecorder/BehaviourRecorder.PostSharp/obj/Release
/NashSoft/BehaviourRecorder/BehaviourRecorder.PostSharp/bin/Release
/NashSoft/BehaviourRecorder/BehaviourRecorder.NUnit/obj/Release
/NashSoft/BehaviourRecorder/BehaviourRecorder.NUnit/bin/Release
/NashSoft/BehaviourRecorder/BehaviourRecorder/obj/Release
/NashSoft/BehaviourRecorder/BehaviourRecorder/bin/Release
