################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NashSoft/BehaviourRecorder/packages
/NashSoft/BehaviourRecorder/.vs
